#chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 0px;
    margin-bottom: 10px;
}
#chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.fixed {
        position: fixed;
        right: 15%;
}
.scrollit {
        float: left;
}
